body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background-image: url("/img/gameboy.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:100% 100%;
}

#console {
  position: absolute;
  bottom: 200px;
  right: 355px;
  width: 580px;
  height: 460px;
}

#map {
  background-color: orange;
}