body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background-image: url("/img/gameboy.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:100% 100%;
}

#up-button{
  position: absolute;
  top: 238px;
  left: 138px;
  width: 63px;
  height: 63px;
  background: transparent;
  border: none !important;
}

#down-button{
  position: absolute;
  top: 363px;
  left: 138px;
  width: 63px;
  height: 63px;
  background: transparent;
  border: none !important;
}

#right-button{
  position: absolute;
  top: 300px;
  left: 198px;
  width: 63px;
  height: 63px;
  background: transparent;
  border: none !important;
}

#left-button{
  position: absolute;
  top: 300px;
  left: 75px;
  width: 63px;
  height: 63px;
  background: transparent;
  border: none !important;
}

#a-button{
  position: absolute;
  top: 270px;
  right: 75px;
  width: 100px;
  height: 100px;
  background: transparent;
  border: none !important;
}

#console {
  position: absolute;
  bottom: 200px;
  right: 355px;
  width: 580px;
  height: 460px;
}

#fightInGrass{
background-color: green;
}

#map {
  background-color: orange;
}