body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background-image: url("/img/gameboy.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:100% 100%;
}

#up-button{
  position: absolute;
  top: 95px;
     left: 55px;
     width: 25px;
     height: 25px;
     border: 3px solid #73AD21;
     background-color: transparent;
}

#down-button{
  position: absolute;
  top: 145px;
     left: 55px;
     width: 25px;
     height: 25px;
     border: 3px solid #73AD21;
     background-color: transparent;
}

#right-button{
  position: absolute;
  top: 120px;
     left: 79px;
     width: 25px;
     height: 25px;
     border: 3px solid #73AD21;
     background-color: transparent;
}

#left-button{
  position: absolute;
  top: 120px;
     left: 30px;
     width: 25px;
     height: 25px;
     border: 3px solid #73AD21;
     background-color: transparent;
}

#a-button{
  position: absolute;
  top: 108px;
     right: 30px;
     width: 40px;
     height: 40px;
     border: 3px solid #73AD21;
     background-color: transparent;
}



#console {
  position: absolute;
  bottom: 77px;
  right: 145px;
  width: 230px;
  height: 190px;
}

#map {
  background-color: orange;
}